    
    
    clearfix{ clear:both;}
    
      body {
        margin: 0;
        margin-bottom: 0px;
        padding: 0;
        
        background-image: url("bg5.png");
        background-size:1400px, 900px;
        background-repeat:no-repeat;
        
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
        height:700px
      }
      
      
	ul li{ list-style-type:none;}
	
	
      h1 {
        font-size: 28px;
        color: #40B3CE;
      }

      a  {
      font-size: 20px;
      color: #000
      }
      
      b {
      	font-size: 40px;
      	font-family: "Arial", "Helvetica", "sans-serif";
      	color: #40B3CE
      	
      	}
      	
      c	{
        font-size: 25px;
      	font-family: "Arial", "Helvetica", "sans-serif";
      	color: #FFF
      }
      'a:hover {
        background-color: #03c;
        color: white;
        text-decoration: none;
      }'


      #page {
        
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        height:700px
      }
      
      
    	#header {
    	  margin-left:133px;
      	  background-color: #67A1D2;
		  color: white;
   	 	  font-family: "Calibri",Times,serif;
   	 	  font-size: 17px;
   	 	  padding-top: 10px;
   	 	  position: absolute;
   	 	  height: 30px;
   	 	  width:1130px;
   	 	  
   	 	  text-align:right;
      	}
      	ht {
      	font-family: "Calibri",Times,serif;
      	color: white;
      	}

      #content {
        margin-left:130px;
        margin-top:px;
        background-color: white;
        border: 3px solid #0C60A5;
        border-top: none;
        border-bottom: none;
        padding: 25px;
        width: 1080px;
        height: 720px;
 
        'border-radius: 20px;'
      }
      
      #title{
      
      margin-top: 30px;
      width: 1090px;
      height:150px;
      }
      
      #logo{
      	float:left; 
      	margin-right:0px; 
      	padding-top:0;
      	width: 704px;

      	}
      	
      	
      #tagline{
    	'background-image: url("tagline-2-new.jpg");'
        background-repeat:no-repeat;
      	float:left;
      	margin-left:50px;
      	margin-top: 40px;
      	width:px;
      	height:px;
      
      }
      
      #pic1{
      float:left;
      background-image: url("social-1.png");
      background-size:500px, 400px;
      background-repeat:no-repeat;
      width:500px;
      height:400px;
      margin-top:40px;
      margin-left:50px;
      
      }
      
      #logintitle{
      	float:left;
      	margin-top:0px;
      	margin-left:50px;
      	padding-top:50px;
      	border-bottom: 2px solid #ccc;
      	width:380px;
      }	
      	
      #login {
        border-top: 3px solid #67A1D2;
        margin-top: 25px;
        padding-top: 15px;
      }
      
      #loginbox{ 
		background:#FFF; 
		float:left;
		padding-right:0px; 
		padding-bottom:20px;
		margin-top:20px;
		margin-left: 50px;
		border: groove; 
		border-color:#663300;
		width: 380px;
	}
	
	#signin{
		margin-top: 20px;
		margin-left:40px;
		background:#40B3CE;
		padding-left:10px;
		padding-right:0px;
		padding-top:10px;
		padding-bottom:10px;
		width: 100px;
	}

      #sidebar {
        float: right;
        width: 175px;
      }

      #footer {

    	color: #26557C;
   	 	font-family: "Calibri",Times,serif;
  	 	font-size: 18px;
  	  	left: 75%;
  	  	line-height: 2px;
    	margin-top: -15px;
    	position: absolute;
  	 	
      }
      
      
    	#signup {
        border-top: 3px solid #67A1D2;
        margin-top: 25px;
        padding-top: 15px;
        text-align: ;
      }
      
       #signupbox{
       float: left;
       margin-top:px;
       padding:15px;
       margin-left: 0px;
       margin-right:100px;
       text-align:right;
       width:400px;

       }
      
	    d{
        font-size: 15px;
      	font-family: "Arial", "Helvetica", "sans-serif";
      	color: #000
      	
      	#errorbox{
      	width: px;
      	float:right;
      	margin-left:100px;
      	}
      	

      }



